.sidebar{
position: fixed;
top: 55px;
left: 0px;
bottom: 0px;
width: 72px;
background-color: white;
z-index: 200;
}

.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-link:hover {
    background-color: rgb(173, 172, 172);
    cursor: pointer;

}

.side-images{
    width: 24px;
    margin-bottom: 4px;

}
.sidebar-link div{
    font-size: 10px;
}